.vs/
.idea/
packages/
GEMINI.md

Development/

*.suo
*.user
*.DS_Store
_ReSharper.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

BiscuitBot/bin/
BiscuitBot/obj/
BiscuitBot/appsettings.json

NetCord-source-readonly/